@model  ShrunkenHeadStudios.Core.Objects.Post

@{
    ViewBag.Title = "The creative outlet of Callum Ashton";
    ViewBag.Description = "The creative outlet of Callum Ashton";
}

<section class="intro" id="top">
    <img src="~/_includes/images/intrologo.png" class="logo" alt="Shrunken Head Studios logo">
</section>

<figure class="separator">
    <img src="~/_includes/images/shrunkenstudios.jpg">
</figure>

<section class="about" id="about">

    <img src="~/_includes/images/me.png" class="profile-pic">

    <h2>Who am I</h2>
    <p>I'm a <span id="age">AGE</span> year old website developer based in central Manchester. I’ve been working in the web world since 2011 and from time to time, I like to show off my talent under the name 'Shrunken Head Studios'.</p>

    <p>I’m your average mid twenties guy with a love for music, weight lifting and technology. I have a very unusual accent, and I haven’t had a ‘real’ haircut since I was 15.  Ultimate Warrior will forever be my hero and Iron Maiden my music of choice.</p>

    <p>Shrunken Head Studios has been designed to be an outlet for my thoughts both technology related and outside of the web spectrum. I have no set schedule for updating this website so please excuse the random time lapses in posts. That being said, I hope you find something of interest. I’d love to hear any feedback you may have, I’m available via all the standard social media outlets.</p>

    <p>Enjoy.</p>

    <ul class="social">
        <li><a href="http://www.facebook.com/callum.t.ashton" target="_blank" class="facebook">Facebook</a></li>
        <li><a href="http://twitter.com/Shabba_Dooo" target="_blank" class="twitter">Twitter</a></li>
        <li><a href="http://uk.linkedin.com/in/callumashton89" target="_blank" class="linkedin">LinkedIn</a></li>
        <li><a href="http://instagram.com/Shabba_Dooo" target="_blank" class="instagram">Instagram</a></li>
    </ul>

</section>

<figure class="separator">
    <img src="~/_includes/images/blog/@Model.BannerImage" />
</figure>

<article class="blog-post" id="blog">
    <h2>@Html.PostLink(Model)</h2>
    <p class="entry-published-date">@Model.PostedOn.ToLongDateString() | Category: @Html.CategoryLink(Model.Category) |<a href="@string.Format("http://{0}.co.uk{1}{2}", System.Configuration.ConfigurationManager.AppSettings["Domain"], @Html.Raw(Model.Href(Url)), "#disqus_thread")">Comments</a></p>
    @Html.Raw(Model.ShortDescription)

    <ul class="tags">
        <li>Tags:</li>
        @Helpers.Tags(Html, Model.Tags)
    </ul>

    @Html.ActionLink("View post →", "post", "blog", new { year = Model.PostedOn.Year, month = Model.PostedOn.Month, day = Model.PostedOn.Day, title = Model.UrlSlug }, new { title = "View post →", @class = "view" })

    @Html.ActionLink("← Previous posts", "posts", "blog", new { @class = "previous" })

</article>
